params{
  samplesheet = "${baseDir}/samplesheet.csv"
  outDir = "${baseDir}/results"
  reference_fa = "/omics/groups/OE0219/internal/Etienne/data/reference/hs37d5_PhiX.fa"
  reference_version = "hg19" // hg19 or hg38

  use_control= true
  run_manta_freec = true // run the copy-number and SV pipeline based on manta (SV) and Control_FREEC (copy number)
  run_HMF = false // run the copy-number and SV pipeline based on HMF tools 
  run_ASE = false // run the allele-specific expression pipeline
  run_mutect2=false // run mutect2 (only on a list of genes)

  
  mutect2_target_intervals="${baseDir}/data/mutect2/gene_intervals.bed"

  SV_minPR = 4
  SV_minSR = 4
  SV_minLen_nocontrol = 40000
  SV_minLen_control = 500
  
  manta_filterSmallInsertions_nocontrol = true
  pure_tumor = false
  
  
  
  amber = "${baseDir}/bin/amber-3.9.jar"
  cobalt = "${baseDir}/bin/cobalt_v1.14.jar"
  gridss = "${baseDir}/bin/gridss"
  gridss_jar = "${baseDir}/bin/gridss-2.13.2-gridss-jar-with-dependencies.jar"
  gripss = "${baseDir}/bin/gripss_v2.3.4.jar"
  purple = "${baseDir}/bin/purple_v3.8.2.jar"
  picard = "${baseDir}/bin/picard.jar"

  data_dir = "${baseDir}/data"
  hg19_drive_id= "1XOoG2QhTgj33i2rlRbee5VxVQgPkkgh5"
  hg38_drive_id= "1ulH2VNaRhrt-VyPP00RYSqQmrlihSLo2"
  mutect2_drive_id="1uESCYSW3_LaM7W7aoKICrkFVFodNsNzn"
}

singularity {
  enabled = true
  cacheDir = '/omics/groups/OE0219/internal/Etienne/singularity/cache'
  tmpDir = '/omics/groups/OE0219/internal/Etienne/tmp2'
  autoMounts = true
  envWhitelist=['SINGULARITY_TMPDIR','APPTAINER_TMPDIR', 'http_proxy', 'https_proxy', 'ftp_proxy' ]
  runOptions = '--bind ${TMPDIR}:${TMPDIR}'
}

executor{
  perJobMemLimit=true
}

process {
  executor = 'lsf'
  submitRateLimit = '5 sec'
  errorStrategy = 'retry'
  maxRetries = 0
  memory = 12.GB
  time = 6.h

}

process {
  withLabel:hmf {
    container = "docker://esollier/hmf:latest"
  }
  withLabel:gatk {
    container = "docker://esollier/gatk:latest"
  }
  withLabel:manta {
    container = "docker://esollier/manta:latest"
  }
  withLabel:freec {
    container = "docker://esollier/freec:latest"
  }
  withLabel:utils {
    container = "docker://esollier/utils:latest"
  }
  withLabel:figeno {
    container = "docker://esollier/figeno:latest"
  }
  withLabel:pyjacker {
    container = "docker://esollier/pyjacker:latest"
  }
}
